.bgTitle{
    height: 50px;
    background: #90D9BC;
    color: white;
    font-size: 18px;
    line-height: 16px;
}
.containerTitle > .Title{
    text-align: center;
    padding-top: 17px;
}
.Title ~ a{
    position: absolute;
    top: 17px;
    width: 12.5px;
    height: 20px;
}
p > svg{
    color: #FFB107;
}
.detailHostpital{
    width: 384px;
    height: 170px;

    background: #FFFFFF;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}
.detailHostpital:hover{
    background: linear-gradient(180deg, #90D9BC 0%, #6DCCA6 100%);
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
    color: white;
    height: 180px;
    transition: 0.6s ease-out;
}
.detailHostpital img{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.inforhotCarosel p{
    margin-bottom: 0;
}
.rowTime{
    display: flex;
    justify-content: space-between;
}
.day p,.time p{
    margin-bottom: 0;
    text-align: right;
}
.page-item a{
    color: #63BD99;
}
.navigation{
    display: flex;
}
.navigation > a{
    width: 20%;
    height: 50px;
    background: white;
    border: none;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}
.navMedical {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #EAEAEA;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}