.slider__bullets {
    /* position: absolute; */
    z-index: 2;
    overflow: hidden;
  position: fixed;
  /* bottom: 0; */
    /* bottom: 1.5rem; */
    left: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 15%;
}
.slider__bullet[class*=active] {
    background-color:#63BD99;
}
.slider__bullet {
    background-color: #E5E5E5;
    width: 9px;
    height: 9px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    line-height: 0;
    -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,.1);
    box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,.1);
    margin: 0 .25em;
}
.Skips{
    width: 90px;
    height: 40px;
    background: linear-gradient(270deg, #69CAA3 0%, #90D9BC 100%);
    border-radius: 100px;
    /* position: relative;
    bottom: 70px; */
    margin-left: 38%;
    padding-top: 5px;
}
.Skip{
    z-index: 2;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.containerSkip{
    overflow: hidden;
    position: fixed;
    bottom: 3%;
}
@media only screen and (max-width: 375px) {
    .Skips {
      margin-left: 37%;
    }
  }
