*{
    margin: 0;
}
.bgTitle{
    height: 50px;
    background: #90D9BC;
    color: white;
    font-size: 18px;
    line-height: 16px;
}
.containerTitle > .Title{
    text-align: center;
    padding-top: 17px;
}
.Title ~ a{
    position: absolute;
    top: 17px;
    width: 12.5px;
    height: 20px;
}
.ListDoctor{
    margin-top: 30px;
}
.detailhotCarosel{
    width: 48%;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 16px;
}
.detailhotCarosel:hover{
    background: linear-gradient(180deg, #90D9BC 0%, #6DCCA6 100%);
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
    color: white;
    height: 150px;
    transition: 0.6s ease-out;
}
.detailhotCarosel:hover a{
    color: #FFFFFF !important;
    transition: 0.6s ease-out;
}
.inforhotCarosel > p{
    margin-bottom: 0px;
}
p > svg{
    color: #FFB107;
}
.groupDoctor{
    -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
    justify-content: space-between;
}
.page-item a{
    color: #63BD99 !important;
}
.navigation{
    display: flex;
}
.navigation > a{
    width: 20%;
    height: 50px;
    background: white;
    border: none;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}
.navMedical {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #EAEAEA;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a{
    color: black !important;
    text-decoration: none !important;
}
a:hover{
    color: #FFB107 !important;
}