*{
    margin: 0;
}
.bgTitle{
    height: 50px;
    background: #90D9BC;
    color: white;
    font-size: 18px;
    line-height: 16px;
}
.containerTitle{
    margin-bottom: 17px;
}
.containerTitle > .Title{
    text-align: center;
    padding-top: 17px;
}
.Title ~ a{
    position: absolute;
    top: 17px;
    width: 12.5px;
    height: 20px;
}
.cardInfo{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    position: relative;
    top: 197px;
    padding-top: 25px;
}
.Setting{
    margin-left: 85%;
}
.Name{
    text-align: center;
    font-size: 19px;
    line-height: 16px;
    color: #333333;
}
.yearBirth{
    margin-top: 10px;
}
.grInfo{
    margin-top: 30px;
}
.eleInfo{
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 15PX;
}
.eleInfo:hover{
    background: #90D9BC;
    transition: 0.6s;
}
.eleInfo .descripInfo:hover p{
    color: #FFFFFF !important;
    transition: 0.6s;
}
.iconInfo{
    background: #63BD99;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    padding-left: 6px;
    padding-top: 4px;
}
.descripInfo{
    width: 80%;
}
.descripInfo p{
    font-size: 11px;
    line-height: 16px;
    color: #666666;
    margin-bottom: 0;
}
.navigation{
    display: flex;
}
.navigation > a{
    width: 20%;
    height: 50px;
    background: white;
    border: none;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}
.navMedical {
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #EAEAEA;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a{
    color: #333333 !important;
    text-decoration: none !important;
}
a:hover{
    color: #FF9653 !important;
}